<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      © Copyright 2018-2019 D&D 5th app, Jonas Vestgarden
    </div>
    <div class="mdl-logo version">
      Versjon {{version}}
    </div>
  </div>

  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="mailto:{{userSupportMail}}">Brukerstøtte</a></li>
      <li><a href="mailto:{{techSupportMail}}">Teknisk støtte</a></li>
    </ul>
  </div>
</footer>
