.size-half {
  width: 450px;
  min-width: 450px;
}

.size-full {
  width: 100%;
  min-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.splitter {
  width: 10%;
}
